<ion-view hide-nav-bar="true" hide-tabs="true">
  <style>
    img{
      width:100%;
      height:auto;
    }
  </style>
  <ion-content ng-controller="lunboCtrl">
    <ion-slide-box>
        <ion-slide>
          <img src="img/s2.jpg">
        </ion-slide>
        <ion-slide>
          <img src="img/s2.jpg">
        </ion-slide>
        <ion-slide >
          <button class="button button-positive " style="position: absolute;z-index: 9999;top:15rem;left: 35%;"   ng-click="toIndex()">进入主页</button>
          <img src="img/s2.jpg" style="position: absolute" >


        </ion-slide>
    </ion-slide-box>

  </ion-content>




</ion-view>
